@keyframes flickerGlow {
    0% {
      text-shadow: 0 0 5px #e8d047, 0 0 10px #e8d047, 0 0 20px #e8d047;
    }
    50% {
      text-shadow: 0 0 10px #e8d047, 0 0 20px #e8d047, 0 0 30px #e8d047;
    }
    100% {
      text-shadow: 0 0 5px #e7e5d7, 0 0 10px #e7e5d7, 0 0 20px #e7e5d7;
    }
  }


  .main{
    background-color: rgb(250, 241, 187);
    border-style: solid;
    border-radius: 8px;
    

  }
  .mainh1 {
    animation: flickerGlow 1.5s infinite alternate;
    
  }
pre{
  margin:1%;
}
mark{
  background-color: rgba(187, 146, 146, 0.5);
  border-radius: 6px;
  padding: 0.5%;
  font-family:Arial;
  height:100vh;
 
}
.exp{
  visibility:hidden;
 }